name: Publish to DockerHub
on:
  workflow_dispatch:
    inputs:
      release_tag:
        description: 'OpenVSCode Server stable release tag'
        required: true

jobs:
  docker:
    runs-on: ubuntu-latest
    name: Build and publish Docker image
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v2
      
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: |
            gitpod/openvscode-server
          tags: |
            type=semver,pattern={{version}},value=v${{ github.event.inputs.version }}
      
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          build-args: RELEASE_TAG=${{ github.event.inputs.release_tag }}
          tags: ${{ steps.meta.outputs.tags }}
